/**
 * I'm a comment
 */

/**
* Resetting basic html sections
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  
  }

/**
 * `main` element
 */
main {
  }

/**
 * Images
 */
img {
  max-width: 100%;
/**  vertical-align: middle; */
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	Margin-top: 40px;
  font-weight: 400; 
  }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

.title {
	margin-top: 60px;
	color: #FFF;
	background-color: #000;
}

.Ucase {
	text-transform: uppercase;
	}
